****************************************** Debit Posted Alert **********************************************
Dear Customer,

This is to inform you the following transaction on your card number $cardNumber is $operator the specified debit posted alert limit ($limit).

 Transaction DateTime: 	$dateTime
 Transaction Amount: 	$amount
 Transaction Description: 	$desc
 Current Balance: 		$cardBalance
 Debit Posted Limit: 	$limit

*************************************************************************************************************

$footer
